<div class="list_view">
    {% for i in range(io.set()|length) %}
        <div class="list_result list_result_{{'odd' if i % 2 == 0 else 'even'}}">
            <div class="list_result_output">
                <p>
                {% if io.set()[i]['type'] == "assembly" %}
                Assembly 
                {% else %}
                Part 
                {% endif %}
                <a href="/record/{{io.set()[i]['id']}}">{{io.set()[i]['id']}} - {{io.set()[i]['name']}}</a></p>
                <p>{{io.set()[i]['notes']}}</p>
                {% if 'assembly' in io.set()[i] %}
                {% if io.set()[i]['assembly'] %}
                <p>In assembly {{io.set()[i]['assembly']}}</p>
                {% endif %}
                {% endif %}
            </div>

            <div class="resultstrap"></div>

        </div>
    {% endfor %}
</div>
