{% extends "base.html" %}

{% block content %}

<form action="" method="POST">
<div class="row-fluid">
    <div class="span6">
        <div id="therecord" class="hero-unit" style="min-height:500px;">
            {% if rectype == "assembly" %}
                <h3>New assembly</h3>
            {% elif rectype == "batch" %}
                <h3>Create multiple identical parts</h3>
                <p>How many parts do you want to create? <input type="text" id="howmany" name="howmany" value="1" style="width:30px;" /></p>
                <p>Enter the generic part details below.<br />Upon saving, the desired number of parts will be created, each with 
                the same details.</p>
            {% else %}
                <h3>New part</h3>
            {% endif %}
            <table>

                {% if rectype == "part" %}
                <tr><td>Record type:</td><td style="padding:5px;font-size:120%;"><input name="type" type="hidden" value="part">part</td></tr>
                <tr><td>Name:</td><td><input type="text" name="name" autofocus="autofocus" /></td></tr>
                <tr><td>Date delivered:</td><td><input type="text" class="datepicker" name="datedelivered" /></td></tr>
                <tr><td>Bill of materials:</td><td><input type="text" name="billofmaterials" /></td></tr>
                <tr><td>Drawing number:</td><td><input type="text" name="drawingnumber" /></td></tr>
                <tr><td>In assembly:</td><td><select style="height:33px;" name="assembly">
                <option></option>
                {% for item in values['assembly'] %}
                    <option value="{{ item['id'] }}">{{ item['id'] }} - {{ item['name'] }}</option>
                {% endfor %}
                </select></td></tr>

                {% elif rectype == "assembly" %}
                <tr><td>Record type:</td><td style="padding:5px;font-size:120%;"><input name="type" type="hidden" value="assembly">assembly</td></tr>
                <tr><td>Name:</td><td><input type="text" name="name" autofocus="autofocus" /></td></tr>
                <tr><td>Date delivered:</td><td><input type="text" class="datepicker" name="datedelivered" /></td></tr>
                <tr><td>Bill of materials:</td><td><input type="text" name="billofmaterials" /></td></tr>
                <tr><td>Drawing number:</td><td><input type="text" name="drawingnumber" /></td></tr>
                <tr><td>Assembled by:</td><td><select style="height:33px;" name="assembledby">
                <option></option>
                {% for item in values['user'] %}
                    <option value="{{ item['id'] }}">{{ item['id'] }}</option>
                {% endfor %}
                </select></td></tr>
                <tr><td>Assembled date:</td><td><input type="text" class="datepicker" name="assembleddate" /></td></tr>

                {% elif rectype == "batch" %}
                <tr><td>Record type:</td><td style="padding:5px;font-size:120%;"><input name="type" type="hidden" value="part">part</td></tr>
                <tr><td>Name:</td><td><input type="text" name="name" autofocus="autofocus" /></td></tr>
                <tr><td>Date delivered:</td><td><input type="text" class="datepicker" name="datedelivered" /></td></tr>
                <tr><td>Bill of materials:</td><td><input type="text" name="billofmaterials" /></td></tr>
                <tr><td>Drawing number:</td><td><input type="text" name="drawingnumber" /></td></tr>
                <tr><td>In assembly:</td><td><select style="height:33px;" name="assembly">
                <option></option>
                {% for item in values['assembly'] %}
                    <option value="{{ item['id'] }}">{{ item['id'] }} - {{ item['name'] }}</option>
                {% endfor %}
                </select></td></tr>
                <tr><td>In batch:</td><td style="padding:5px;font-size:120%;"><input name="batch" type="hidden" value="{{batchid}}">{{ batchid }}</td></tr>
                {% endif %}

                <tr><td>Manufacturer:</td><td><select style="height:33px;" name="manufacturer">
                <option></option>
                {% for item in curatedfields['manufacturer'].split(',') %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
                </select></td></td></tr>

                <tr><td>Manufacturer serial:</td><td><input type="text" name="manufacturerserial" /></td></td></tr>
                <tr><td>Manufacturers batch number:</td><td><input type="text" name="manufacturersbatchnumber" /></td></td></tr>
                <tr><td>Manufacturers batch quantity:</td><td><input type="text" name="manufacturersbatchquantity" /></td></td></tr>
                <tr><td>Purchase order:</td><td><input type="text" name="purchaseorder" /></td></td></tr>

                <tr><td>Supplier:</td><td><select style="height:33px;" name="supplier">
                <option></option>
                {% for item in curatedfields['supplier'].split(',') %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
                </select></td></td></tr>
                <tr><td>Inspected by:</td><td><select style="height:33px;" name="inspectedby">
                <option></option>
                {% for item in values['user'] %}
                    <option value="{{ item['id'] }}">{{ item['id'] }}</option>
                {% endfor %}
                </select></td></td></tr>
                <tr><td>Inspected date:</td><td><input type="text" name="inspecteddate" class="datepicker" /></td></tr>
                <tr><td>In location:</td><td><select style="height:33px;" name="location">
                <option></option>
                {% for item in curatedfields['location'].split(',') %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
                </select></td></td></tr>
                <tr id="newfieldplaceholder"><td></td><td></td></tr>
                <tr><td></td><td><br>
                    <a class="btn" id="newfield" href="#">add another field</a>
                    <input type="submit" name="submit" class="btn btn-info" value="save this {{ rectype }}">
                </td></tr>
            </table>
        </div>
    </div>
    
    <div class="span6">
            {% if rectype == "assembly" %}
            <iframe src="/help#newassembly" style="border:none; width:100%; height:620px;"></iframe>
            {% elif rectype == "batch" %}
            <iframe src="/help#multinewpart" style="border:none; width:100%; height:620px;"></iframe>
            {% else %}
            <iframe src="/help#newpart" style="border:none; width:100%; height:620px;"></iframe>
            {% endif %}
    </div>

</div>
</form>
    
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('.datepicker').datepicker({'dateFormat':'dd/mm/yy'})

    var newfield = function(event) {
        event.preventDefault();
        var fieldname = prompt('New field name:',"");
        if ( fieldname == 'batch' || fieldname == 'id' || fieldname == 'type' || fieldname == 'assembly' || fieldname == 'attachments' || fieldname == 'history' ) {
            alert('Sorry, you cannot use that field name. Please try a different one. batch, id, type, assembly, attachments, history are not allowed.');
        } else if ( fieldname.length != 0 ) {
            var nf = '<tr><td>' + fieldname + '</td><td><input type="text" name="' + fieldname + '"></td></tr>';
            $('#newfieldplaceholder').before(nf);
        } else {
            alert('Sorry, something seems wrong with your field name. Please try again')
        }
    }
    jQuery('#newfield').bind('click',newfield);

});
</script>

{% endblock %}

