{% extends "/base.html" %}

{% block content %}

<div class="row-fluid">

    <div class="span8">
    <form method="POST" action="">
    <div class="hero-unit" style="min-height:250px;">
        <!-- record info -->
        <h2>{{ record['type'] }} {{ record['id'] }}{% if record['name'] %} - {{ record['name'] }}{% endif %}</h2>
         {% if not edit %}<p>Note you must <a href="/account/login">login</a> if you wish to edit records.</p>{% endif %}

        <table>

        {% if 'name' in record %}
            <tr>
                <td>Name</td>
                <td><input name="name" type="text" value="{{record['name']}}" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'datedelivered' in record %}
            <tr>
                <td>Date delivered</td>
                <td><input name="datedelivered" type="text" value="{{record['datedelivered']}}" class="datepicker" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'billofmaterials' in record %}
            <tr>
                <td>Bill of materials</td>
                <td><input name="billofmaterials" type="text" value="{{record['billofmaterials']}}" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'drawingnumber' in record %}
            <tr>
                <td>Drawing number</td>
                <td><input name="drawingnumber" type="text" value="{{record['drawingnumber']}}" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'assembledby' in record %}
            <tr>
                <td>Assembled by</td>
                <td><input name="assembledby" type="text" value="{{record['assembledby']}}" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'assembleddate' in record %}
            <tr>
                <td>Assembled date</td>
                <td><input name="assembleddate" type="text" value="{{record['assembleddate']}}" class="datepicker" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'manufacturer' in record %}
            <tr>
                <td>Manufacturer</td>
                <td>
                    <select name="manufacturer" style="height:33px;" {% if not edit %}disabled="disabled"{% endif %}>
                        <option></option>
                        {% for item in curatedfields['manufacturer'].split(',') %}
                            <option value="{{item}}"{% if item == record['manufacturer'] %} selected="selected"{% endif %}>{{item}}</option>
                        {% endfor %}
                        {% if record['manufacturer'] not in curatedfields['manufacturer'].split(',') %}
                            <option value="{{record['manufacturer']}}" selected="selected">{{record['manufacturer']}}</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
        {% endif %}

        {% if 'manufacturerserial' in record %}
            <tr>
                <td>Manufacturer serial</td>
                <td><input name="manufacturerserial" type="text" value="{{record['manufacturerserial']}}" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'manufacturersbatchnumber' in record %}
            <tr>
                <td>Manufacturers batch number</td>
                <td><input name="manufacturersbatchnumber" type="text" value="{{record['manufacturersbatchnumber']}}" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'manufacturersbatchquantity' in record %}
            <tr>
                <td>Manufacturers batch quantity</td>
                <td><input name="manufacturersbatchquantity" type="text" value="{{record['manufacturersbatchquantity']}}" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'purchaseorder' in record %}
            <tr>
                <td>Purchase order</td>
                <td><input name="purchaseorder" type="text" value="{{record['purhcaseorder']}}" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% if 'supplier' in record %}
            <tr>
                <td>Supplier</td>
                <td>
                    <select name="supplier" style="height:33px;" {% if not edit %}disabled="disabled"{% endif %}>
                        <option></option>
                        {% for item in curatedfields['supplier'].split(',') %}
                            <option value="{{item}}"{% if item == record['supplier'] %} selected="selected"{% endif %}>{{item}}</option>
                        {% endfor %}
                        {% if record['supplier'] not in curatedfields['supplier'].split(',') %}
                            <option value="{{record['supplier']}}" selected="selected">{{record['supplier']}}</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
        {% endif %}

        {% if 'location' in record %}
            <tr>
                <td>Location</td>
                <td>
                    <select name="location" style="height:33px;" {% if not edit %}disabled="disabled"{% endif %}>
                        <option></option>
                        {% for item in curatedfields['location'].split(',') %}
                            <option value="{{item}}"{% if item == record['location'] %} selected="selected"{% endif %}>{{item}}</option>
                        {% endfor %}
                        {% if record['location'] not in curatedfields['location'].split(',') %}
                            <option value="{{record['location']}}" selected="selected">{{record['location']}}</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
        {% endif %}

        {% if 'inspectedby' in record %}
            <tr>
                <td>Inspected by</td>
                <td>
                    <select name="inspectedby" style="height:33px;" {% if not edit %}disabled="disabled"{% endif %}>
                        <option></option>
                        {% for item in values['user'] %}
                            <option value="{{item['id']}}"{% if item['id'] == record['inspectedby'] %} selected="selected"{% endif %}>{{item['id']}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endif %}

        {% if 'inspecteddate' in record %}
            <tr>
                <td>Inspected date</td>
                <td><input name="inspecteddate" type="text" value="{{record['inspecteddate']}}" class="datepicker" {% if not edit %}disabled="disabled"{% endif %}></td>
            </tr>
        {% endif %}

        {% for key in record %}
            {% if key not in ['batch','id','type','updated_date','created_date','last_access','history','assembly', 'assembly_history','attachments','name','datedelivered','billofmaterials','drawingnumber','assembledby','assembleddate', 'manufacturer','manufacturerserial','manufacturersbatchnumber','manufacturersbatchquantity','purchaseorder', 'supplier','location','inspectedby','inspecteddate'] %}
                <tr>
                    <td>{{key}}</td>
                    <td>
                    <input name="{{key}}" type="text" value="{{record[key]}}"{% if 'date' in key %} class="datepicker"{% endif %} {% if not edit %}disabled="disabled"{% endif %}>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
            <tr id="newfieldplaceholder"><td></td><td></td></tr>
        </table>
        <p>{% if record['updated_date'] %}Record created on {{ record['created_date'] }}. {% endif %}{% if record['updated_date'] %}Last updated {{ record['updated_date'] }}{% endif %}</p>
        
        {% if record['batch'] %}
        <p>This part is in batch <a href="/batch/{{ record['batch'] }}">{{ record['batch'] }}</a><br />{% if edit %}<a href="#" class="batchremove label label-important">remove from batch</a>{% endif %}</p>
        {% endif %}

        {% if edit %}
            <p>
                <a id="newfield" class="btn" href="#">Add new field</a> &nbsp;
                <input type="submit" name="submit" class="btn btn-info" value="Save"> &nbsp;
                <input type="submit" name="submit" class="btn btn-danger" value="Delete">
            </p>
        {% endif %}
    </div>
    </form>
    </div>

    <div class="span4">
    <h3>Notes {% if edit %}<small><a id="addnote" class="btn" href="">add a note</a></small>{% endif %}</h3>
    {% if notes|length != 0 %}
        {% for item in notes %}
            <p>on {{ item['created_date'] }}{% if item['by'] %} by {{ item['by'] }}{% else %} anonymously{% endif %}
            {% if edit %}<a class="deletenote" href="#" data-id="{{ item.id }}" alt="delete this note" title="delete this note"> X </a>{% endif %}<br />
            {{ item['content'] }}</p>
        {% endfor %}
    {% endif %}
    </div>

    <script type="text/javascript">
    jQuery(document).ready(function() {
        var batchremove = function(event) {
            event.preventDefault()
            var rec = {"batch":""}
            $.ajax({
                type: "POST",
                url: '',
                data: JSON.stringify(rec),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                processData: false,
                success: savedone
            })

        }
        jQuery('.batchremove').bind('click',batchremove)

        var savedone = function() {
            alert('saved')
            window.location = window.location
        }
        var addnote = function(event) {
            event.preventDefault()
            var note = prompt("new note:")
            if ( note ) {
                var newnote = {
                    "content": note,
                    "by": "{% if current_user %}{{ current_user.id }}{% else %}anonymous{% endif %}",
                    "about": "{{ record['id'] }}"
                }
                $.ajax({
                    type: "POST",
                    url: '/note',
                    data: JSON.stringify(newnote),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    processData: false,
                    success: savedone
                })
            }
        }
        jQuery('#addnote').bind('click',addnote)
        var deletenote = function(event) {
            event.preventDefault()
            $.ajax({
                type: "DELETE",
                url: '/note/'+jQuery(this).attr('data-id')
            })
            jQuery(this).parent().hide();
        }
        jQuery('.deletenote').bind('click',deletenote)
    })
    </script>    
        
</div>

<hr style="embossed" />

<div class="row-fluid">


    <div class="span6">
        <h3>Procedures / Attachments</h3>
<!-- show any attachments, offer to upload new -->
{% if record['attachments'] %}
    {% for item in record['attachments'] %}
        <p><a href="/record/{{record.id}}/attachments/{{item['filename']}}">{{item['filename']}}</a>. {{item['test_type']}}. Tested by {{item['tested_by']}}{% if 'test_date' in item %} on {{item['test_date']}}{% endif %}. {{item['description']}}</p>
    {% endfor %}
{% else %}
    <p>No attachments yet</p>
{% endif %}
    <form action="/record/{{record.id}}/attachments" method="POST" enctype="multipart/form-data">
        <script type="text/javascript">
        jQuery(document).ready(function() {
            var showaddattachment = function(event) {
                event.preventDefault()
                jQuery('#addattachment').toggle()
            }
            jQuery('#showaddattachment').bind('click',showaddattachment)
            jQuery('#addattachment').hide()
        })
        </script>
        <p>{% if edit %}<a id="showaddattachment" class="btn" href="">Add new procedure / attachment</a>{% endif %}</p>
        <div style="border:1px solid #ccc;padding:5px;" id="addattachment">
        <p>Choose an attachment: <input type="file" name="upfile" /></p>
        <p><textarea style="width:90%;" name="description" placeholder="provide a short description"></textarea></p>
        <p>Procedure type: <select name="test_type" style="height:33px;">
            <option></option>
            {% for item in curatedfields['test_type'].split(',') %}
                <option value="{{item}}">{{item}}</option>
            {% endfor %}
        </select></p>
        <p>Procedure date: <input type="text" name="test_date" class="datepicker"></p>
        <p>Performed by: <select name="tested_by" style="height:33px;">
            <option></option>
            {% for item in values['user'] %}
                <option value="{{ item['id'] }}">{{ item['id'] }}</option>
            {% endfor %}
        </select></p>
        <p><input type="submit" class="btn btn-info" value="upload new attachment" /></p>
        {% if record['type'] == 'assembly' %}
            <p>(Note: this is an assembly. If you upload an attachment to it, it 
            will also be attached to each individual part in this assembly.)</p>
        {% else %}
            {% if record.parent %}
                <p>(Note: this part is in assembly 
                    <a href="/record/{{record.parent.id}}">{{record.parent.id}}</a>. 
                    If you wish to upload an attachment to every record in the assembly, 
                    you should go to the assembly record instead.)
                </p>
            {% endif %}
        {% endif %}
        </div>
    </form>

    </div>



    <div class="span6">
        <h3>Assembly information</h3>
<!-- if an assembly, link the parts it contains; offer option to add / remove parts -->
{% if record['type'] == 'assembly' %}
    {% if record.children %}
        <script type="text/javascript">
        jQuery(document).ready(function() {
            var removefromassembly = function(event) {
                event.preventDefault()
                $.ajax({
                    url: '/record/' + jQuery(this).attr('href') + '/parent'
                    , type: 'DELETE'
                    , success: function(data, statusText, xhr) {
                        alert('Part removed from assembly. Reloading page.')
                        window.location = ''
                    }
                    , error: function(xhr, message, error) {
                        alert("Error: " + error + '. Please try again.');
                    }
                })
            }
            jQuery('.removefromassembly').bind('click',removefromassembly)
        })
        </script>
        <p>Assembly contains:</p>
        {% for item in record.children %}
            <p><a href="/record/{{item['id']}}">{{item['id']}}</a> - {{item['name']}} - 
                <a href="{{item['id']}}" class="removefromassembly label label-important">remove</a></p>
        {% endfor %}
    {% else %}
        <p>No parts listed in this assembly.</p>
    {% endif %}
    <p>{% if edit %}<a href="" id="addparts" class="btn">Add parts to this assembly</a>{% endif %}</p>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        var showpartsearch = function(event) {
            event.preventDefault()
            jQuery('#partsearch').toggle()
        }
        jQuery('#addparts').bind('click',showpartsearch)
        jQuery('#partsearch').facetview( {{ search_options | safe }} )
        jQuery('#partsearch').hide()
    })
    var doupdate = function(theid) {
        jQuery.ajax({
            url: '/record/{{record.id}}/children/' + theid
            , type: 'POST'
            , success: function(data, statusText, xhr) {
                alert('Assembly updated. Reloading page.')
                window.location = ""
            }
            , error: function(xhr, message, error) {
                alert("Error: " + error + '. Please try again.');
            }
        })
    }
    </script>
    <div style="border:1px solid #ccc;padding:5px;" id="partsearch">
    <h4>Search for a part and click it to add to this assembly.</h4>
    </div>
{% endif %}

<!-- if a part, offer add to assembly; if in one, link it, and offer to remove -->
{% if record.parent %}
    <div class="span4">
        <h4><br />This {% if record['type'] == 'assembly' %}assembly{% else %}part{% endif %} is in assembly <a href="/record/{{record.parent.id}}">{{record.parent.id}}</a></h4>
        <script type="text/javascript">
        jQuery(document).ready(function() {
            var removefromassembly = function(event) {
                event.preventDefault()
                $.ajax({
                    url: '/record/{{record.id}}/parent'
                    , type: 'DELETE'
                    , success: function(data, statusText, xhr) {
                        alert('Removed from assembly. Reloading page.')
                        window.location = ''
                    }
                    , error: function(xhr, message, error) {
                        alert("Error: " + error + '. Please try again.');
                    }
                })
            }
            jQuery('#removefromassembly').bind('click',removefromassembly)
        })
        </script>
        <p><br />{% if edit %}<a href="" id="removefromassembly" class="btn btn-danger">remove from assembly</a>{% endif %}</p>
    </div>
{% else %}
        <hr></hr>
        <p>This {% if record['type'] == 'assembly' %}assembly{% else %}part{% endif %} is not in an assembly.</p>
        <p>{% if edit %}<a href="" id="addtoassembly" class="btn">add to an assembly</a>{% endif %}</p>
        <script type="text/javascript">
        jQuery(document).ready(function() {
            var showassemblysearch = function(event) {
                event.preventDefault()
                jQuery('#assemblysearch').toggle()
            }
            jQuery('#addtoassembly').bind('click',showassemblysearch)
            jQuery('#assemblysearch').facetview( {{ search_options_assy | safe }} )
            jQuery('#assemblysearch').hide()
        })
        var doupdate = function(theid) {
            jQuery.ajax({
                url: '/record/{{record.id}}/parent/' + theid
                , type: 'POST'
                , success: function(data, statusText, xhr) {
                    alert('Assembly updated. Reloading page.')
                    window.location = ""
                }
                , error: function(xhr, message, error) {
                    alert("Error: " + error + '. Please try again.');
                }
            })
        }
        </script>
        <div style="border:1px solid #ccc;padding:5px;" id="assemblysearch">
        <h4>Search for an assembly and click it to add this part to it.</h4>
        </div>

{% endif %}

    </div>

    
</div>

<hr style="embossed" />

<div class="row-fluid">

    <div class="span8">
        <h3>Change history</h3>

<!-- show history in sortable table -->
<table id="history" class="table-striped table-bordered">
<thead>
    <tr>
        <th>on date</th>
        <th>user</th>
        <th>changed</th>
        <th>from</th>
        <th>to</th>
    </tr>
</thead>
<tbody>
{% for item in record['history'] %}
    <tr>
        <td style="padding:5px;">{{ item['date'] }}</td>
        <td style="padding:5px;">{{ item['user'] }}</td>
        <td style="padding:5px;">{{ item['field'] }}</td>
        <td style="padding:5px;"><a class="btn showdets" href="#"> +- </a> <span class="detsfold" style="display:none;">{{ item['previous'] }}</span></td>
        <td style="padding:5px;"><a class="btn showdets" href="#"> +- </a> <span class="detsfold" style="display:none;">{{ item['current'] }}</span></td>
    </tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#history').tablesorter()
    jQuery('.datepicker').datepicker({'dateFormat':'dd/mm/yy'});

    var showdets = function(event) {
        event.preventDefault();
        $(this).siblings('.detsfold').toggle();
    }
    jQuery('.showdets').bind('click',showdets);
    
    var newfield = function(event) {
        event.preventDefault();
        var fieldname = prompt('New field name:',"");
        var no = [
            'batch',
            'id',
            'type',
            'assembly',
            'attachments',
            'history',
            'name',
            'datedelivered',
            'billofmaterials',
            'drawingnumber',
            'assembly',
            'assembleddate',
            'assembledby',
            'manufacturer',
            'manufacturerserial',
            'manufacturersbatchnumber',
            'manufacturersbatchquantity',
            'purchaseorder',
            'supplier',
            'inspectedby',
            'inspecteddate',
            'location'
            
        ];
        var lfn = fieldname.toLowerCase();
        if ( no.indexOf(lfn) > -1 ) {
            alert('Sorry, you cannot use that field name. Please try a different one. batch, id, type, assembly, attachments, history are not allowed.');
        } else if ( fieldname.length != 0 ) {
            var nf = '<tr><td>' + fieldname + '</td><td><input type="text" name="' + fieldname + '"></td></tr>';
            $('#newfieldplaceholder').before(nf);
        } else {
            alert('Sorry, something seems wrong with your field name. Please try again')
        }
    }
    jQuery('#newfield').bind('click',newfield);

})
</script>

    </div>

    <div class="span4" style="background-color:#333;">
        <h3>Access history</h3>
        <p><a id="showaccess" class="btn" href="">show access history</a></p>
        <script type="text/javascript">
        jQuery(document).ready(function() {
            var showaccess = function(event) {
                event.preventDefault()
                jQuery('#accesshistory').toggle()
            }
            jQuery('#showaccess').bind('click',showaccess)
            jQuery('#accesshistory').hide()
        })
        </script>
        <div id="accesshistory">
<!-- show access history -->
{% for item in record['last_access'] %}
    <p>Viewed by {{ item['user'] }} at {{ item['date'] }}</p>
{% endfor %}
        </div>
    </div>

</div>

{% endblock %}

