{% extends "/base.html" %}

{% block content %}

{% if multiple %}
    <div id="record_box" class="clearfix">
        <p>There appear to be multiple records with this ID:</p>
        <ul>
        {% for item in io.set() %}
            <li>{{item['citekey']}} - 
                <a href="/record/{{item['id']}}">{{item['id']}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% elif edit %}
    <div class="row">
    <a href="" class="savethis btn span3">save changes</a>
    <a href="" id="deletethis" class="btn danger span3">delete record</a>
    <a href="" id="savenew" class="btn span3">save as new record</a>
    {% if io.set()[0]['type'] != "assembly" %}
    <a href="" id="addtoassembly" class="btn span3">add part to an assembly</a>
    {% endif %}
    </div>
    <div class="row">
    <div id="therecord" class="record_box span8">
    {% if io.set()[0]['type'] == "assembly" %}
        <h3>Assembly {{io.set()[0]['id']}} - {{io.set()[0]['name']}}</h3>
    {% else %}
        <h3>Part {{io.set()[0]['id']}}</h3>
    {% endif %}
    <script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#therecord').jtedit({"data":{{io.stringify(io.set()[0])|safe}},"noedit":["id"],"hide":["assembly","assembly_history"]});

        var saveit = function(event,datain) {
            event.preventDefault();
            if (datain) {
                var thedata = datain
            } else {
                var thedata = $.parseJSON(jQuery('#jtedit_json').val());
            }
            if (jQuery(this).attr('id') == "savenew" ) {
                var saveurl = '/record/create';
            } else {
                var saveurl = '/record/' + thedata['id'] + '?version={{io.get_record_version(io.set()[0]['id'])}}';
            }
            $.ajax({
                url: saveurl
                , type: 'POST'
                , data: JSON.stringify(thedata)
                , contentType: "application/json; charset=utf-8" 
                , dataType: 'json'
                , processData: false
                , success: function(data, statusText, xhr) {
                    if (jQuery(this).attr('id') == "savenew" ) {
                        alert("New record saved. Redirecting to new record page.");
                        window.location = '/record/' + data.record[0];
                    } else {
                        alert("Record updated. Refreshing page.");
                    }
                    window.location = '/record/' + data.record[0];
                }
                , error: function(xhr, message, error) {
                    alert("failed! " + error);
                }
            });
            if ( jQuery('#newchildren').length ) {
                var children = jQuery('#newchildren').val().split(',')
                for (var child in children) {
                    children[child].replace(' ','')
                    if (children[child].length > 0) {
                        savechildren(children[child],'{{io.set()[0]['id']}}')
                    }
                }
            }
        }

        var savechildren = function(child,parentid) {
            $.ajax({
                url: '/record/' + child + '.json'
                , type: 'GET'
                , success: function(data, statusText, xhr) {
                    var oldparent = data['assembly']
                    data.assembly = parentid
                    /*if (data.hasOwnProperty('assembly_history')) {
                        if (typeof(data['assembly_history']) == 'object') {
                            data['assembly_history'].push(oldparent)
                        } else {
                            data['assembly_history'] = [data['assembly_history'],oldparent]
                        }
                    } else {
                        data['assembly_history'] = [oldparent]
                    }*/
                    $.ajax({
                        url: '/record/' + child
                        , type: 'POST'
                        , data: JSON.stringify(data)
                        , contentType: "application/json; charset=utf-8" 
                        , dataType: 'json'
                        , processData: false
                        , success: function(data, statusText, xhr) {
                            alert("parts added.");
                        }
                        , error: function(xhr, message, error) {
                            alert("failed! " + error);
                        }
                    })
                }
                , error: function(xhr, message, error) {
                    alert("failed! " + error);
                }
            })
        }

        var deleteit = function(event) {
            event.preventDefault();
            var confirmed = confirm("You are about to irrevocably delete this from the database. Are you sure you want to do so?")
            if (confirmed) {
                $.ajax({
                    url: '/record/{{io.set()[0]['id']}}?delete=true'
                    , type: 'POST'
                    , success: function(data, statusText, xhr) {
                        alert("Record deleted. Redirecting to homepage.");
                        window.location = '/';
                    }
                    , error: function(xhr, message, error) {
                        alert("failed! " + error);
                    }
                });
            }
        }
        
        var addtoassembly = function(event) {
            event.preventDefault()
            var assy = prompt("Please provide the ID of the assembly to which you wish to add this part")
            if (assy) {
                $.ajax({
                    url: '/record/' + assy
                    , type: 'GET'
                    , success: function(data, statusText, xhr) {
                        var pdata = $.parseJSON(jQuery('#jtedit_json').val());
                        if ('assembly' in pdata) {
                            if ('assembly_history' in pdata) {
                                pdata['assembly_history'].push(pdata['assembly']) 
                            } else {
                                pdata['assembly_history'] = [pdata['assembly']]
                            }
                        }
                        pdata['assembly'] = assy
                        saveit(event,pdata)
                    }
                    , error: function(xhr, message, error) {
                        alert("There is no assembly with ID " + assy + ". Please search for the correct assembly ID, then try again.");
                    }
                });
            }
        }

        var removefromassembly = function(event) {
            event.preventDefault()
            var pdata = $.parseJSON(jQuery('#jtedit_json').val());
            if ('assembly_history' in pdata) {
                pdata['assembly_history'].push(pdata['assembly']) 
            } else {
                pdata['assembly_history'] = [pdata['assembly']]
            }
            delete pdata['assembly']
            saveit(event,pdata)
        }
        
        jQuery('.savethis').bind('click',saveit);
        jQuery('#savenew').bind('click',saveit);
        jQuery('#deletethis').bind('click',deleteit);
        jQuery('#addtoassembly').bind('click',addtoassembly);
        jQuery('#removefromassembly').bind('click',removefromassembly);
    });
    </script>
    </div>

    {% if io.set()[0]['type'] == "assembly" %}
        <div class="record_box span5">
        {% if io.get_children() %}
            <h3>Contains parts</h3>
            <ul>
            {% for item in io.get_children() %}
                <li><a href="/record/{{item['id']}}">{{item['id']}}</a> - {{item['name']}}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h3>No parts listed in this assembly</h3>
        {% endif %}
        <p>Add parts:<br /><br />
        <textarea id="newchildren"></textarea><br />
        <a href="" class="savethis btn span3">save parts</a><br /><br />
        (enter the IDs of parts you want to add to this assembly, separated by commas. 
        If you do not know the ID, <a target="_blank" href="/search">try searching</a> based on other information about the part.)</p>
        </div>
    {% else %}
        {% if io.get_parent() %}
        <div class="record_box span5">
            <h3>This part is in assembly <a href="/record/{{io.get_parent()['id']}}">{{io.get_parent()['id']}}</a></h3>
            {{io.listify(io.get_parent())|safe}}
            <a href="" id="removefromassembly" class="btn span3">remove part from this assembly</a>            
        </div>
        {% endif %}
        {% if io.get_parent_history() %}
        <div class="record_box span5">
            <h3>Part used to be in assemblies</h3>
            {% for each in io.get_parent_history() %}
                {{io.listify(each)|safe}}
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}


    </div>

{% else %}
    <div class="row">
    {{io.get_record_as_table()|safe}}
    </div>
{% endif %}

{% endblock %}

