{% extends "base.html" %}

{% block content %}
      <div class="hero-unit clearfix">
        <div class="span7">
        <p><img src="/static/logowhitebg.png" /></p>
        <p>Parts tracking database</p>
        </div>
        <div class="span6">
          <p><a class="btn large" href="/record/create/part">New part</a>
          <a class="btn large" href="/record/create/assembly">New assembly</a></p>
          <p><a class="btn large" href="/record/create/batch">Make multiple new parts</a></p>
          <p><a class="btn large" href="/search">Search</a>
          <a class="btn large" href="/help">Help</a></p>
        </div>
      </div>

{% endblock %}
